#textdomain wesnoth-A_New_Order
[race]
    id=akladian
    male_name= _ "race^Akladian"
    female_name= _ "race+female^Akladian"
    plural_name= _ "race^Akladians"
    num_traits=1
    markov_chain_size=3
    male_names="Reuke,Aorenor,Reme,Terao,Aoeree,Reeoe,Larao,Borien,Rouenoe,Eoleree,Leenore,Oreoke,Lauroe,Rumethe,Theorien,Rukeen,Aeorei,Raori,Neiae,Ien,Ian,Ioeneree,Karnee,Kromoe,Kreneo,Savireo,Raulien,Urenaye,Yeorgh,Yeorimo,Quenerien,Thurimarien,Mariaele,Orieo,Boraeo,Uriliaen,Eoremar,Rioulien,Naiyen,Barukee,Rauoli,Graeme,Graukin,Ruke,Urke"
    female_names="Lorin,Laorin,Aoerin,Uyenaya,Rianna,Yeorienna,Thurienna,Marioellin,Eena"
[/race]
[movetype]
    name=akladianfoot
    [movement_costs]
        deep_water=100
        shallow_water=3
        swamp_water=2
        grassland=1
        sand=3
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=1
        tundra=3
        canyon=100
        cavewall=100
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=80
        swamp_water=70
        grassland=60
        sand=70
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        tundra=80
        cavewall=10
    [/defense]
    [resistance]
        blade=60
        pierce=50
        impact=60
        fire=90
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[race]
    id=aragwaith
    male_name= _ "race^Aragwaith"
    female_name= _ "race+female^Aragwaith"
    plural_name= _ "race^Aragwaithi"
    num_traits=2
    markov_chain_size=3
    {HUMAN_NAMES}
[/race]

[movetype]
    name=aragwaithfoot
    [movement_costs]
        deep_water=100
        shallow_water=3
        swamp_water=2
        grassland=1
        sand=1
        forest=2
        hills=2
        mountains=2
        village=1
        castle=1
        cave=2
        tundra=2
        canyon=100
        cavewall=100
        fungus=2
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=80
        swamp_water=60
        grassland=60
        sand=50
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=50
        tundra=60
        cavewall=10
        fungus=50
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=aragwaithmounted
    [movement_costs]
        deep_water=100
        shallow_water=3
        swamp_water=2
        grassland=1
        sand=1
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=3
        tundra=2
        canyon=100
        cavewall=100
        fungus=3
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=80
        swamp_water=70
        grassland=60
        sand=60
        forest=70
        hills=60
        mountains=60
        village=60
        castle=60
        cave=60
        tundra=60
        cavewall=10
        fungus=80
    [/defense]
    [resistance]
        blade=80
        pierce=120
        impact=70
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]
{@campaigns/A_New_Order/units/others}
{@campaigns/A_New_Order/units/aragwaithi}
{@campaigns/A_New_Order/units/akladians}
