#textdomain wesnoth-A_New_Order

#define ANO_C_SEPARATOR
    [entry]
        name="*"
    [/entry]
#enddef
[about]
    images="maps/iftu-main.png,maps/mainmenu.png,maps/wesnoth-httt.jpg"
[/about]
[about]
    title= _ "Creator and Lead Designer"
    [entry]
        name="Arkadiusz D. Danilecki (szopen)"
        email="adanilecki at cs put poznan pl"
        wikiuser="szopen"
        comment=_"storyline, coding, story images, portraits, original sprites for Akladians."
    [/entry]
[/about]
[about]
    title= _ "Campaign Maintenance"
    [entry]
        name="Arkadiusz D. Danilecki (szopen)"
        comment=_"Main maintainer, release manager"
    [/entry]
[/about]
[about]
    title= _ "Translations"
    text= _ "(from WesCamp-i18n)"
    [entry]
        name=_" British (en_gb) translation:"+" "+"Harry Dewulf, David Philippi"
    [/entry]
    [entry]
        name=_"Catalonian translation:"+" "+"Jose Gordillo"
    [/entry]
    [entry]
        name=_"Czech translation:"+" "+"Oto (tapik) Buchta"
    [/entry]
    [entry]
        name=_"Danish translation:"+" "+"Joe Hansen"
    [/entry]
    [entry]
        name=_"French translation:"+" "+"Geoffroy Douillie, Damien"
    [/entry]
    [entry]
        name=_"German translation:"+" "+"Simon Sobisch"
    [/entry]
    [entry]
        name=_"Italian translation:"+" "+"Brivido"
    [/entry]
    [entry]
        name=_"Polish translation:"+" "+"A. D. (szopen) Danilecki, Piotr Cychowski"
    [/entry]
    [entry]
        name=_"Russian translation:"+" "+"nikita, Alexey Remizov"
    [/entry]
    [entry]
        name=_"Spanish translation:"+" "+"Eduardo Jose Papa"
    [/entry]
    [entry]
        name=_"Swedish translation:"+" "+"Capitol, Stefan Bergstörm (tephlon)"
    [/entry]
    [entry]
        name=_"Turkish translation:"+" "+"Nilgün Belma Bugüner"
    [/entry]
[/about]
[about]
    title= _ "Additional thanks to"
    [entry]
        name="Peter Geinitz (Shadow/Wayfarer)"
        comment=_"sprites for Aragwaithi and corrections of Akladian sprites"
    [/entry]
    [entry]
        name="unsung, ott, capitol, ave, tomsik, teldar, tapik, derek, alxrem"
        comment=_"bug reports, english errors corrections"
    [/entry]
    [entry]
        name="scott and shadow"
        comment=_"Outlaw level 3 pack is maintained by them."
    [/entry]
    [entry]
        name="David Philippi (torangan) and Nils Kneuper (ivanovic)"
        comment=_"for patience and explaining how wescamp works"
    [/entry]
    [entry]
        name="Jetryl and Pickslide"
        comment=_"for art advises"
    [/entry]
    [entry]
        name="elvish pillager and turin"
        comment=_"for hints on wml and unit stats"
    [/entry]
    [entry]
        name="all others from wesnoth forum"
    [/entry]
[/about]
#undef ANO_C_SEPARATOR
