#textdomain wesnoth-A_New_Order
[scenario]
    name = _ "Trapped"
    id=ano_23reumario
    map_data="{@campaigns/A_New_Order/maps/Trapped.map}"
    next_scenario=ano_24
    {TURNS 16 16 16}
    {@campaigns/A_New_Order/scenarios/ano-20macros.cfg}
    {@campaigns/A_New_Order/scenarios/ano-23macros.cfg}
    #COMMON ACTIONS
    {TRAPPEDMACRO (Reumario)}
    #REUMARIO TORTURED AND LEFT
    #RPG ELEMENTS HERE
    [event]
        name=start
        {MESSAGE (Reumario) (portraits/reumario.png) () _"Could that be possible? Yes! Lorin! Long I was dreaming about repaying you for what you've done to me in Haeltin. Your time has come.."}
        {MSGm_Lorin _"Oh my, I am scared. Haeltin? Let me think... Ah yes, I remember now. You were that flabby lobbish wimp who was crying looking at my knife."}
        {MSGm_Gawen _"Mother, it's enough we have four Akladian armies on our head. You do not have to make them even more furious."}
        {MESSAGE (Reumario) (portraits/reumario.png) () _"And who is this niddering stripling, who think that by growing beard he can start to look as a man, who is hiding behind his mother back?"}
        {MSGm_Lorin _"Gawen, he was talking to you. Reumario, I think you have just sealed your fate."}
        {MSGm_Gawen _"Reumario, whatever my mother did to you, there is no need for you to behave like a lout. If you don't like me, fine, but show that with your sword, not with your mouth."}
        {MSGm_Lorin _" Heh, Heh, 'if you don't like me', Gawen, you are fabulous."}
        {OBJECTIVES23 Reumario}
    [/event]
    [event]
        {KILLEDBY (Reumario) (Lady Lorin)}
        {MSGm_Lorin _"Ha, Reumario. Does this feel a bit like a deja vu? What was again what you were saying? Ah, that my time has come."}
        {MESSAGE (Reumario) (portraits/reumario.png) () _"I am not affraid, old hag. I am dying anyway."}
        {MSGm_Lorin _"Different are the kinds of death, Reumario."}
        {MSGm_Gawen _"Mother, put down that knife! This is an order."}
        {MSGm_Lorin _"What knife?"}
    [/event]
[/scenario]
