#textdomain wesnoth-A_New_Order
[scenario]
    name = _ "Siege of Haeltin"
    id=ano_10
    map_data="{@campaigns/A_New_Order/maps/Haeltin2.map}"
    next_scenario=ano_11x
    {TURNS 14 16 18}
    {STARTING_VILLAGES 1 6}
    {STARTING_VILLAGES 2 5}
    {STARTING_VILLAGES 3 5}
    {STARTING_VILLAGES 4 5}
#define MAKELOYAL TYPE
    {CLEAR_VARIABLE ano_loyal}
    [store_unit]
        variable=ano_loyal
        [filter]
            type={TYPE}
            side=1
        [/filter]
        #kill=yes
        #fire_event=no
        #animate=no
    [/store_unit]
    {MSG_narrator _"It seems that $ano_loyal[0].user_description was so impressed by Lorin's performance in this siege, that he will fight for her without the need to pay him. He became LOYAL."}
    {VARIABLE (ano_loyal[0].traits_description) ("$ano_loyal[0].traits_description" + _"loyal")}
    {VARIABLE (ano_loyal[0].upkeep) ("free")}
    {VARIABLE (ano_loyal[0].modifications.trait[2].id) ("loyal")}
    {VARIABLE (ano_loyal[0].modifications.trait[2].name) ("loyal")}
    {VARIABLE (ano_loyal[0].modifications.trait[2].effect.apply_to) ("loyal")}
    {VARIABLE (ano_loyal[0].modifications.trait[2].description) ("Zero upkeep")}
    [unstore_unit]
        variable=ano_loyal[0]
    [/unstore_unit]
    {CLEAR_VARIABLE ano_loyal}
#enddef
    [story]
        [part]
            story=_"Inside the castle of Haeltin, Lorin have found large quantities of food, as well as arrows and weapons. It seemed like the castle owners were expecting a huge army to come."
            background=story_images/story_haeltin_zapasy.png
        [/part]
        [part]
            story=_"Lorin ordered the castle to be prepared for defense. Men had worked day and night, while first snowflakes were melting on their bodies. She worked with them too, as hard as if she wanted to prove that she is as good as men. Or as if she wanted to be too tired to have time for bringing back memories."
        [/part]
    [/story]
    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    victory_when_enemies_defeated=yes
    [side]
        controller=human
        description="Lady Lorin"
        user_description=_"Lady Lorin"
        type=Akladian Lady
        team_name=good
        canrecruit=yes
        side=1
        recruit=Aragwaith Archer,Aragwaith Swordsman
        gold=150
        {INCOME 6 4 3}
    [/side]
    [side]
        controller=ai
        side=2
        type=Akladian Chieftain
        team_name=bad
        recruit=Akladian Clanmember,Akladian Warrior,Akladian Light Infantry,Akladian Raider
        description="Raole Mathauri"
        user_description=_"Raole Mathauri"
        canrecruit=yes
        {GOLD 100 110 120}
        {ATTACK_DEPTH 2 3 4}
    [/side]
    [side]
        controller=ai
        description="Erart"
        user_description=_"Erart"
        type=Troll Warrior
        team_name=bad
        canrecruit=yes
        side=3
        recruit=Troll Whelp,Troll,Troll Rocklobber
        {GOLD 110 120 130}
        {ATTACK_DEPTH 2 3 4}
        {INCOME 2 3 4}
    [/side]
    [side]
        controller=ai
        description="Yarl Urluf"
        user_description=_"Yarl Urluf"
        type=Orcish Warlord
        team_name=bad
        canrecruit=yes
        side=4
        recruit=Orcish Grunt,Wolf Rider,Orcish Archer,Orcish Warrior,Orcish Assassin
        {GOLD 110 120 130}
        {ATTACK_DEPTH 2 3 4}
        {INCOME 2 3 4}
    [/side]
    [side]
        controller=ai
        team_name=bad
        canrecruit=yes
        no_leader=yes
        side=5
        recruit=Troll Whelp,Troll,Troll Rocklobber,Orcish Grunt,Wolf Rider,Orcish Archer,Orcish Warrior,Orcish Assassin
        {GOLD 110 120 130}
        {ATTACK_DEPTH 2 3 4}
        {INCOME 2 3 4}
    [/side]
    # wmllint: recognize Andrey Yaranov
    # wmllint: recognize Reumario
    [event]
        name=prestart
        {RECALL (Andrey Yaranov)}
        {RECALL (Reumario)}
    [/event]
    [event]
        name=start
        {MSGW_Yaranov _"My Lady, the defenses are ready. I ordered a moat dug out in the north, we also put some new fortifications in place, but they are not finished."}
        {MSGW_Lorin _"We have no time to finish it. They are already here. Faster, move the supplies to hideout in mountains, so even if they reach the keep they won't find anything."}
        {MESSAGE (Erart) () () _"Where is the promised food? Where are the rooms to rest? Answer me, human!"}
        {MESSAGE (Raole Mathauri) () () _"Brother! Where are you? Why do you keep gates of Haeltin closed?"}
        {MSGW_Lorin _"Your brother is dead, and you will be too, soon."}
        {MESSAGE (Raole Mathauri) () () _"Dead? How is that possible? Who killed him?"}
        [if]
            [variable]
                name=ano_lorin_killed_oyre
                equals=yes
            [/variable]
            [then]
                {MSGW_Lorin _"He was slain by my hand."}
            [/then]
            [else]
                {MSGW_Lorin _"Does it matter? He is dead now."}
            [/else]
        [/if]
        {MESSAGE (Raole Mathauri) () () _"My brother! No! You witch, you will answer for that! I will burn you alive!"}
        {MSGW_Lorin _"Come and try it."}
        {MESSAGE (Yarl Urluf) () () _"Enough of this chit-chat! We are out of supplies and we are hungry. Soldiers! Your food is inside of this castle. Get them!"}
        [if]
            [have_unit]
                description="Reumario"
            [/have_unit]
            [then]
                {MESSAGE (Reumario) (portraits/reumario.png) () _"We should sacrifise an ox to God. There are too many of them, without God's help we won't be able to defeat them."}
            [/then]
        [/if]
        {MSGW_Yaranov _"We do not have to defeat them, luckily. They are not prepared for a long siege, so it would be enough to survive initial onslaught. Then, they will have to withdraw, because they will have no food."}
        {MSGW_Yaranov _"Lady Lorin, I know your habit of interrogating enemy leaders. Please, take my advice, if you must, ignore the orcs, they do not look intelligent enough to give sensible answers."}
        {MSGW_Lorin _"Move the supplies to the mountains. That way, even if they break into the castle, they still will have no food."}
        [store_gold]
            variable=gold
            side=1
        [/store_gold]
        [if]
            [variable]
                name=gold
                less_than=300
            [/variable]
            [then]
                {MSGW_Yaranov _"We have less than 300 golden pieces. Are you sure we will be able to survive the enemy onslaught with these?"}
            [/then]
        [/if]
        [objectives]
            side=1
            [objective]
                description=_"HEROIC: Kill all enemy leaders OR"
                condition=win
            [/objective]
            [objective]
                description=_"NORMAL: Survive to the end of turn limit."
                condition=win
            [/objective]
            [objective]
                description=_"Death of Andrey Yaranov"
                condition=lose
            [/objective]
            [objective]
                description=_"Death of Lady Lorin"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
    [event]
        name=die
        [filter]
            [not]
                description=Raole Mathauri
            [/not]
            [not]
                type=Troll Whelp,Troll,Troll Rocklobber,Orcish Grunt,Wolf Rider,Orcish Archer,Orcish Warrior,Orcish Assassin
            [/not]
        [/filter]
        [filter_second]
            description=Lady Lorin
        [/filter_second]
        {MSG_unit _"A woman.. A woman has killed me.. what a disgrace.."}
    [/event]
    [event]
        name=die
        [filter]
            type=Troll Whelp,Troll,Troll Rocklobber,Orcish Grunt,Wolf Rider,Orcish Archer,Orcish Warrior,Orcish Assassin
        [/filter]
        [filter_second]
            description=Lady Lorin
        [/filter_second]
        {MSG_unit _"Gaaarrr.. Aaargh..."}
        {MSGW_Yaranov  _"What did he say?"}
        {MSGW_Lorin _"I think it was Orcish for 'a human woman has killed me, what a dishonor' or something like that."}
    [/event]
    [event]
        name=die
        [filter]
            description=Raole Mathauri
        [/filter]
        [filter_second]
            description=Lady Lorin
        [/filter_second]
        {MESSAGE (Raole Mathauri) () () _"What are you waiting for? Come on, finish me, witch."}
        {MSGW_Lorin _"Ah, I like that kind of man. Strong and fearless even in the face of death. Now, do you see this knife? I call it truth-sayer. I use it to check how fearless a man can be in my hand. "}
        [if]
            [variable]
                name=turn_number
                less_than=12
            [/variable]
            [then]
                {MESSAGE (Raole Mathauri) () () _"I will see how fearless you will be when the rest of our army will come."}
                {MSGW_Lorin _"The rest of your army? Interesting."}
                {MESSAGE (Raole Mathauri) () () _"They are delayed two days after us. They will appear from the north and smash what is left of your so called castle."}
            [/then]
        [/if]
        [if]
            [variable]
                name=ano_cryne_and_orcs
                equals=no
            [/variable]
            [then]
                {MSGW_Lorin _"What Orcs are doing here anyway, and why are they allied with you?"}
                {MESSAGE (Raole Mathauri) () () _"They will help us purify our race. We will go and kill every one who is unworthy of being Akladian. Those, who violated our customs, who are friends of the underlings, those who have offended our God by marrying them. Only then God will again be fond of us and he will reward us with completing of our conquest of Wesnoth and the whole world."}
                {VARIABLE ano_cryne_and_orcs yes}
            [/then]
        [/if]
    [/event]
    {LORIN_DEATH}
    {YARANOV_DEATH}
    {REUMARIO_DEATH}
    [event]
#ifdef EASY
        name=turn 12
#else
#ifdef NORMAL
        name=turn 13
#else
#ifdef HARD
        name=turn 14
#endif
#endif
#endif
        [modify_side]
            side=2
            income=140
        [/modify_side]
        [modify_side]
            side=3
            income=140
        [/modify_side]
        [modify_side]
            side=4
            income=140
        [/modify_side]
        [unit]
            description=Ouruk
            user_description=_"Ouruk"
            canrecruit=yes
            x=20
            y=1
            type=Orcish Warlord
            side=5
        [/unit]
        [unit]
            description=Raurlak
            user_description=_"Raurlak"
            x=18
            y=1
            type=Orcish Warrior
            side=5
        [/unit]
        [unit]
            description=Burlak
            user_description=_"Burlak"
            x=19
            y=1
            type=Orcish Warrior
            side=5
        [/unit]
        [unit]
            description=Hrar
            user_description=_"Hrar"
            x=21
            y=1
            type=Orcish Warrior
            side=5
        [/unit]
        {MESSAGE (Ouruk) () ()
        _"Finally, food, wine and some rest! Hey, what's happening here?"}
    [/event]
    [event]
#ifdef EASY
        name=turn 13
#endif
#ifdef NORMAL
        name=turn 14
#endif
#ifdef HARD
        name=turn 15
#endif
        [unit]
            description=Buriag
            user_description=_"Buriag"
            x=17
            y=1
            type=Orcish Warrior
            side=5
        [/unit]
        [unit]
            description=Uriag
            user_description=_"Uriag"
            x=13
            y=1
            type=Orcish Warrior
            side=5
        [/unit]
        [unit]
            description=Gor
            user_description=_"Gor"
            x=23
            y=1
            type=Wolf Rider
            side=5
        [/unit]
        [unit]
            description=Kaur'ue
            user_description=_"Kaur'ue"
            x=25
            y=1
            type=Wolf Rider
            side=5
        [/unit]
    [/event]
    [event]
#ifdef EASY
        name=turn 14
#endif
#ifdef NORMAL
        name=turn 15
#endif
#ifdef HARD
        name=turn 16
#endif
        [unit]
            description=Burik
            user_description=_"Burik"
            x=29
            y=1
            type=Orcish Archer
            side=5
        [/unit]
        [unit]
            description=Uruke
            user_description=_"Uruke"
            x=29
            y=1
            type=Orcish Crossbowman
            side=5
        [/unit]
        [unit]
            description=Gur
            user_description=_"Gur"
            x=30
            y=1
            type=Orcish Shaman
            side=5
        [/unit]
        [unit]
            description=Kapi'ue
            user_description=_"Kapi'ue"
            x=27
            y=1
            type=Wolf Rider
            side=5
        [/unit]
    [/event]
    [event]
#ifdef EASY
        name=turn 15
#endif
#ifdef NORMAL
        name=turn 16
#endif
#ifdef HARD
        name=turn 17
#endif
        [unit]
            description=Baral
            user_description=_"Baral"
            x=24
            y=1
            type=Orcish Grunt
            side=5
        [/unit]
        [unit]
            description=Iruki
            user_description=_"Iruki"
            x=26
            y=1
            type=Orcish Grunt
            side=5
        [/unit]
        [unit]
            description=Gari
            user_description=_"Gari"
            x=17
            y=1
            type=Orcish Assassin
            side=5
        [/unit]
        [unit]
            description=Rarg
            user_description=_"Rarg"
            x=18
            y=1
            type=Wolf Rider
            side=5
        [/unit]
    [/event]
    [event]
#ifdef EASY
        name=turn 13
#endif
#ifdef NORMAL
        name=turn 15
#endif
#ifdef HARD
        name=turn 17
#endif
        [message]
            type=Aragwaith Archer,Aragwaith hunter,Aragwaith Spearman,Aragwaith Swordsman,Aragwaith Guard,Aragwaith Pikeman,Akladian Warrior,Akladian Clanmember,Akladian Wiseman,Akladian Holyman,Aragwaith Longswordsman
            message=_"Run for you life! They are too many of them!!"
        [/message]
        {MSGW_Lorin _"Keep fighting! Don't give up! At least kill as many of them as you can! They will surely have to withdraw soon!"}
    [/event]
    [event]
        name=time over
        [message]
            type=Orcish Warlord
            message=_"We have no more supplies. We have to withdraw! We will return, she-wolf."
        [/message]
        {MSGW_Yaranov _"They are withdrawing! They have no more supplies."}
        {VARIABLE ano_timeover yes}
        [endlevel]
            result=victory
            bonus=yes
            next_scenario=ano_11x
        [/endlevel]
    [/event]
    [event]
        name=victory
        {IF ano_timeover equals yes}
        {VARIABLE ano_siege_haeltin normal}
        {ELSE}
        {VARIABLE ano_siege_haeltin heroic}
        {END_IF}
        {MSGW_Yaranov _"This was incredibly difficult. I was sure this would be the last day of my life."}
        {MSGW_Yaranov _"Lorin, did you heard how our people are calling you? A she-wolf. She-wolf of Haeltin."}
        {MSGW_Lorin _"LADY Lorin. So? Do they expect me to howl or something?"}
        {MSGW_Yaranov _"Lorin, if you would only gave me a chance, I would make you howl."}
        {MSGW_Lorin _"Listen underling, the only thing which stops me from taking your life away after hearing such remark is that I still need you. But you are dangerously close to the line, so.."}
        {MSGW_Yaranov  _"You said you need me?"}
        {MSGW_Lorin _"Oh my God. It's worse than I thought."}
        {MSGW_Yaranov  _"What do you mean?"}
        {MSGW_Lorin _"You forgot to say that 'one more reference to underling and I'm leaving'. Listen, Yaranov: I had noticed how you had been looking at me. At first, I couldn't guess what it meant. I am not used to such kind of glances. I can easily recognise hatred, despise, disdain. But this... "}
        {MSGW_Lorin _"Listen carefully. Do not have any hope. Do not try anything. First, I am Akladian and you are not. Second, I am a bad woman. You have no idea how bad. Avoid me. Third, you are not my type. Fourth, there are some Akladian customs of which you are seemingly unaware. Let's make a deal: I will not call you underling, and you will call me Lady Lorin. Agreed?"}
        {MSGW_Yaranov _"Lady Lorin it is then. Or maybe I could call you she-wolf, sometimes? She-wolf of Haeltin. In exchange, you could call me Andrey."}
        {MSGW_Lorin _"Whatever. Go to your people, see what they need. I will check our wounded."}
        {CLEAR_VARIABLE ano_loyal}
        {IF_HAVE_UNIT_TYPE (Aragwaith hunter)}
        {MAKELOYAL (Aragwaith hunter)}
        {ELSE}
        {IF_HAVE_UNIT_TYPE (Aragwaith Guard)}
        {MAKELOYAL (Aragwaith Guard)}
        {ELSE}
        {IF_HAVE_UNIT_TYPE (Aragwaith Pikeman)}
        {MAKELOYAL (Aragwaith Pikeman)}
        {ELSE}
        {IF_HAVE_UNIT_TYPE (Aragwaith Archer)}
        {MAKELOYAL (Aragwaith Archer)}
        {ELSE}
        {IF_HAVE_UNIT_TYPE (Aragwaith Spearman)}
        {MAKELOYAL (Aragwaith Spearman)}
        {ELSE}
        {IF_HAVE_UNIT_TYPE (Aragwaith Swordsman)}
        {MAKELOYAL (Aragwaith Swordsman)}
        {ELSE}
        {IF_HAVE_UNIT_TYPE (Akladian Warrior)}
        {MAKELOYAL (Akladian Warrior)}
        {ELSE}
        {IF_HAVE_UNIT_TYPE (Akladian Holyman)}
        {MAKELOYAL (Akladian Holyman)}
        {ELSE}
        {IF_HAVE_UNIT_TYPE (Aragwaith Longswordsman)}
        {MAKELOYAL (Aragwaith Longswordsman)}
        {ELSE}
        {END_IF}
        {END_IF}
        {END_IF}
        {END_IF}
        {END_IF}
        {END_IF}
        {END_IF}
        {END_IF}
        {END_IF}
        {CLEAR_VARIABLE ano_lorin_killed_oyre}
        {CLEAR_VARIABLE ano_lorin_units}
        {CLEAR_VARIABLE ano_lorin_stored}
        {CLEAR_VARIABLE ano_andrey_stored}
        {CLEAR_VARIABLE ano_lorin_gold}
        [store_gold]
            variable=ano_lorin_gold
            side=1
        [/store_gold]
        [store_unit]
            [filter]
                description=Lady Lorin
            [/filter]
            variable=ano_lorin_stored
            kill=yes
        [/store_unit]
        [store_unit]
            [filter]
                description="Andrey Yaranov"
            [/filter]
            variable=ano_andrey_stored
            kill=yes
        [/store_unit]
        {RECALL_ALL}
        [store_unit]
            [filter]
                side=1
            [/filter]
            variable=ano_lorin_units
        [/store_unit]
    [/event]
    [event]
        name=die
        [filter]
            type=Akladian Protector,Akladian Holyman,Akladian Pikeman,Akladian Fastfoot
        [/filter]
        {MSGW_Lorin _"My soldiers! Bastards, he is killing my soldiers!"}
        {MSGW_Yaranov _"I never saw you caring so much for your warriors."}
        {MSGW_Lorin _"I always care for my people, and you have no idea how difficult it was to train them."}
    [/event]
    [event]
        {MOVETO (1-5) (1-6) (Lady Lorin)}
        {MSGW_Yaranov _"Lorin, what are you doing?"}
        {MSGW_Lorin _"Maybe we could try to withdraw to the mountains?"}
        {MSGW_Yaranov _"Wait a moment. Are you running away?"}
        {MSGW_Lorin _"The correct term is strategical relocation of the forces, impertinent underling."}
        {MSGW_Yaranov _"One more reference to underling... Ah, what the hell."}
    [/event]
[/scenario]
