#textdomain wesnoth-A_New_Order
[scenario]
    name = _ "Unexpected guests"
    id=ano_5a
    map_data="{@campaigns/A_New_Order/maps/BurnedCastle.map}"
    next_scenario=ano_6
    {TURNS 28 24 21}
    {@campaigns/A_New_Order/scenarios/ano-01_06macros.cfg}
    {PLACE_IMAGE (terrain/ruiny.png) 13 13}
    {PLACE_IMAGE (terrain/ruiny_studnia.png) 14 13}
    {PLACE_IMAGE (terrain/ruiny2.png) 13 15}
    {PLACE_IMAGE (terrain/ruiny2.png) 14 15}
    [story]
        {AFTERBARNONSTORY}
    [/story]
    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    victory_when_enemies_defeated=yes
    [side]
        controller=human
        description=Lady Lorin
        user_description=_"Lady Lorin"
        type=Akladian Lady
        team_name=good
        canrecruit=yes
        side=1
        shroud=yes
        recruit=Akladian Wiseman,Akladian Clanmember,Akladian Warrior
    [/side]
    [side]
        controller=ai
        description=Uruk Maluf
        user_description=_"Uruk Maluf"
        type=Orcish Warrior
        team_name=orcish
        canrecruit=yes
        side=2
        recruit=Orcish Grunt,Wolf Rider,Orcish Archer,Troll Whelp
        {GOLD 100 110 120}
        {INCOME 2 4 6}
        [ai]
            recruitment_ignore_bad_movement=yes
            recruitment_ignore_bad_combat=yes
            simple_targetting=yes
            caution=0
            aggression=1
            {ATTACK_DEPTH 2 3 4}
        [/ai]
    [/side]
    [side]
        controller=ai
        description=Arlgor Maunarr
        user_description=_"Arlgor Maunarr"
        type=Orcish Warrior
        team_name=orcish
        canrecruit=yes
        side=3
        recruit=Orcish Grunt,Wolf Rider,Orcish Archer,Troll Whelp,Orcish Assassin
        {GOLD 100 110 120}
        {INCOME 2 4 6}
        [ai]
            recruitment_ignore_bad_movement=yes
            recruitment_ignore_bad_combat=yes
            simple_targetting=yes
            aggression=0.5
            {ATTACK_DEPTH 3 4 5}
        [/ai]
    [/side]
    [event]
        name=prestart
        {CHECKVER}
        {RECALL ("Reme Carrenemoe")}
        {VARIABLE ano_orcs yes}
        [set_variable]
            name=ano_arl_interrogated
            value=no
        [/set_variable]
    [/event]
    [event]
        name=start
        {AFTERBARNONTALK}
        {MSG_Reme _"Anyway, this is territory of my friend, loyal to Gawen Hagarthen. He will help us cure our wounded and provide us supplies for further journey."}
        [store_gold]
            side=1
            variable=gold
        [/store_gold]
        [if]
            [variable]
                name=gold
                less_than=200
            [/variable]
            [then]
                {MSG_Reme _"I am not sure whether we have enough gold for this endeavour. I wish we'd got more in previous battles, at least 200."}
            [/then]
        [/if]
        [objectives]
            side=1
            [objective]
                description=_"Kill all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description=_"Death of Lady Lorin"
                condition=lose
            [/objective]
            [objective]
                description=_"Death of Reme Carrenemoe"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
    [event]
        name=sighted
        [filter]
            side=2,3
        [/filter]
        {MESSAGE (Uruk Maluf) (portraits/James_Woo/orc-warlord.png) () _"Humans! Kill them all!"}
        {MESSAGE (Arlgor Maunarr) (portraits/James_Woo/orc-warlord3.png) () _"Nonono. We are here for recoinessance. We were given specific orders. We should withdraw to get the message back to headquarter. You know, da bosses."}
        {MESSAGE (Uruk Maluf) (portraits/James_Woo/orc-warlord.png) () _"Kill them all! Kill them all! Humans!"}
        {MESSAGE (Arlgor Maunarr) (portraits/James_Woo/orc-warlord3.png) () _"Sigh. Sometimes I feel I was born in wrong time, wrong place and wrong race."}
        {MSG_Reme _"It seems that the orc in the north is a bit more intelligent that the southern one."}
    [/event]
    [event]
        name=capture
        [filter]
            side=1
        [/filter]
        {MESSAGE narrator (portraits/Jason_Lutes/human-peasant.png) () _"We are liberated! Hurray! Wait a moment.. Those are Akladians. I have never thought I would be glad to see them."}
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x=11-16
            y=11-16
        [/filter]
        {MESSAGE unit () () _"My God! What happened here?"}
        {MSG_Lorin _"One for sure, we will find no shelter, no supplies and no Reme's friends here."}
    [/event]
    [event]
        name=die
        [filter]
            description=Arlgor Maunarr
        [/filter]
        [filter_second]
            [not]
                description=Lady Lorin
            [/not]
        [/filter_second]
        {MESSAGE second_unit () () _"You were worthy opponent. My ancestors probably would decide to honour you by eating young heart. Now, die!"}
        [if]
            [variable]
                name=ano_assa_interrogated
                equals=no
            [/variable]
            [then]
                {MSG_Lorin _"Wait! I hate when you kill the people before I have chance to interrogate them. It's the second time."}
                {MSG_Reme _"Second time? What do you mean?"}
                {MSG_Lorin _"I had no time to play with that assassin sent to kill Gawen, don't you remember?"}
            [/then]
            [else]
                {MSG_Lorin _"Wait! I hate when you kill the people before I have chance to interrogate them."}
            [/else]
        [/if]
    [/event]
    [event]
        name=die
        [filter]
            description=Uruk Maluf
        [/filter]
        [filter_second]
            description=Lady Lorin
        [/filter_second]
        {MSG_Lorin _"Before I kill you, I want you to tell me everything you know! Why are you here? How it can be we have not heard about any Orcs?"}
        {MESSAGE (Uruk Maluf) (portraits/James_Woo/orc-warlord.png) () _"Kill the humans.. good meat."}
        [if]
            [variable]
                name=ano_arl_interrogated
                equals=yes
            [/variable]
            [then]
                {MSG_Lorin _"Sigh. We will get nothing more. The other one was far more intelligent."}
            [/then]
            [else]
                {MSG_Lorin _"Sigh. It seems we could get more from the second Orcish leader. That one is... I mean was.. far less intelligent."}
            [/else]
        [/if]
    [/event]
    [event]
        name=attack
        [filter_second]
            description=Arlgor Maunarr
        [/filter_second]
        [filter]
            [not]
                description=Lady Lorin
            [/not]
        [/filter]
        {MSG_Lorin _"Do not kill him! Leave the final blow to me, I have to interrogate him!"}
    [/event]
    [event]
        name=die
        [filter]
            description=Arlgor Maunarr
        [/filter]
        [filter_second]
            description=Lady Lorin
        [/filter_second]
        {MSG_Lorin _"Before I'll kill you, I want to ask you a question. Do you prefer to die painlessly or do you want me to think some most nightmarish way to die?"}
        {MESSAGE unit (portraits/James_Woo/orc-warlord3.png) ()
        _"Being killed by human woman is already most nightmarish way to die I can imagine."}
        {MSG_Lorin _"You are mistaken, my dear friend, and I can prove it to you. I want you only to answer few questions. You said you are here on recoinessance. Who have send you here? Answer, or you will end your life as miserable gelding."}
        {MESSAGE unit (portraits/James_Woo/orc-warlord3.png) () _"Wait, I will tell you. There is large army to the north, preparing an assault on your kingdom. We were send here to find good way, destroy castle of Raumair and escort an envoy to our head quarter."}
        {MSG_Lorin  _"Envoy? What envoy?"}
        {MESSAGE unit (portraits/James_Woo/orc-warlord3.png) () _"A human. He had not appeared, though, we were waiting for him here."}
        {MSG_Reme _"Wait - you were expecting human envoy here? And how did you made your way here, there are underling realms north from here?"}
        {MESSAGE unit (portraits/James_Woo/orc-warlord3.png) () _"First question, yes, second, we were not harassed. I don't know why. We were also forbidden to pillage and attack anyone until we came into Vakladia. I know nothing more!"}
        {MSG_Lorin _"Really? That's unfortunate for you. Reme, kill him - I have promised him mercy if he would cooperate."}
        [set_variable]
            name=ano_arl_interrogated
            value=yes
        [/set_variable]
    [/event]
    [event]
        name=victory
        {MSG_Reme _"My lady, seems that those orcs had some gold with them"}
        {MSG_Lorin _"So I am still 'my lady' to you? This gold was probably sacked from the burned homes of your friends. Doesn't that disturb you?"}
        {MSG_Reme _"I will bury part of gold inside castle of Raumair, along with heads of killed orcs. This should be enough of recompensation for ghosts of my dead friends. You should keep the rest of gold. You will need it."}
        [gold]
            amount=200
            side=1
        [/gold]
    [/event]
    {REME_DEATH}
    {LORIN_DEATH}
[/scenario]
