#textdomain wesnoth-A_New_Order
[scenario]
    name = _ "Conversation"
    id=ano_3
    next_scenario=ano_4
    map_data="{@campaigns/A_New_Order/maps/Inside.map}"
    turns=36
    [story]
        [part]
            story=_"Carrenemoes were serving loyally to our kings for generations. My name is Reme, son of Raul. My ancestors, according to our family legends, were amongst those who led our people in great revolt and then in our epic escape through the swamps and forrests. We were helping to build large kingdoms of Akladians in the lands of underlings. We paid for that with blood; And now - why I am wondering what was that all for?"
            background=story_images/reme_alone.png
        [/part]
        [part]
            story=_"Maybe it is because of that kid. Before I met him, I never wondered about differences between us and underlings. It was simple, God himself gave us world to rule and everyone else was to serve us. Yet, Gawen Hagarthen is half underling. In fact, he look like one of them. And he was always more brave and honourable than many of other people I know... "
            background=story_images/reme_gawen.png
        [/part]
        [part]
            story=_"Enough of this thoughts. He is now our official crowned king. Lorin wants lords to acknowledge that, she is almost smiling first time in many, many months. Looking at her, I wonder what Gawen does remember about her. It seems that nothing, which is a lucky coincidence for her. She seems to forget, that only about half of our lords appeared in Vattin. The main battle is still not won.."
        [/part]
    [/story]
    {@campaigns/A_New_Order/scenarios/ano-01_06macros.cfg}
    {AFTERNOON}
    {PLACE_IMAGE (items/tron-fs.png) 7 1}
    {PLACE_IMAGE (items/redf-fs.png) 6 1}
    {PLACE_IMAGE (items/redf-fs.png) 8 1}
    {PLACE_IMAGE (items/krzeslo_facing_n.png) 3 4}
    {PLACE_IMAGE (items/krzeslo_facing_n.png) 5 4}
    {PLACE_IMAGE (items/krzeslo_facing_n.png) 7 4}
    {PLACE_IMAGE (items/krzeslo_facing_n.png) 9 4}
    {PLACE_IMAGE (items/krzeslo_facing_n.png) 11 4}
    {PLACE_IMAGE (items/krzeslo_facing_s.png) 3 6}
    {PLACE_IMAGE (items/krzeslo_facing_s.png) 5 6}
    {PLACE_IMAGE (items/krzeslo_facing_s.png) 7 6}
    {PLACE_IMAGE (items/krzeslo_facing_s.png) 9 6}
    {PLACE_IMAGE (items/krzeslo_facing_s.png) 11 6}
    {PLACE_IMAGE (items/castle-fire.png) 2 1}
    {PLACE_IMAGE (items/castle-fire.png) 12 1}
    {PLACE_IMAGE (items/vasa.png) 9 1}
    {PLACE_IMAGE (items/vasa.png) 5 1}
    [side]
        controller=human
        description=Gawen Hagarthen
        user_description=_"Gawen Hagarthen"
        type=Young Hagarthen
        team_name=good
        canrecruit=yes
        side=1
        recruit=Akladian Clanmember
        [unit]
            description=Royal guard
            user_description=_"Royal guard"
            type=Akladian Shieldguard
            x=3
            y=2
        [/unit]
        [unit]
            description=Royal guard
            user_description=_"Royal guard"
            type=Akladian Shieldguard
            x=11
            y=2
        [/unit]
    [/side]
    [side]
        side=2
        description=Graeme O Borraine
        user_description=_"Graeme O Borraine"
        controller=ai
        canrecruit=yes
        team_name=good
        type=Akladian Lord
    [/side]
    [side]
        side=3
        description=Bor Cryne
        user_description=_"Bor Cryne"
        controller=ai
        canrecruit=yes
        team_name=good
        type=Akladian Lord
    [/side]
    [side]
        side=4
        description=Uri van Roe
        user_description=_"Uri van Roe"
        controller=ai
        canrecruit=yes
        team_name=good
        type=Akladian Lord
    [/side]
    # wmllint: recognize Reme Carrenemoe
    # wmllint: recognize Lady Lorin
    [event]
        name=prestart
        {RECALL (Reme Carrenemoe)}
        {RECALL (Lady Lorin)}
        [terrain]
            x=7
            y=2
            terrain=Rr
        [/terrain]
        [terrain]
            x=1
            y=1
            terrain=Rr
        [/terrain]
        [terrain]
            x=2
            y=1
            terrain=Rr
        [/terrain]
        [terrain]
            x=3
            y=1
            terrain=Rr
        [/terrain]
        [teleport]
            [filter]
                description=Reme Carrenemoe
            [/filter]
            x=5
            y=2
        [/teleport]
        [teleport]
            [filter]
                description=Lady Lorin
            [/filter]
            x=9
            y=2
        [/teleport]
        [teleport]
            [filter]
                description=Graeme O Borraine
            [/filter]
            x=3
            y=5
        [/teleport]
        [teleport]
            [filter]
                description=Uri van Roe
            [/filter]
            x=5
            y=5
        [/teleport]
        [teleport]
            [filter]
                description=Bor Cryne
            [/filter]
            x=7
            y=5
        [/teleport]
    [/event]
    [event]
        name=start
        {MSG_Gawen _"Lords of Vakladia, it is a honour to have you here as guests. I hope you will all serve me as loyally as to my father."}
        {MSG_Reme _"On our way here, we met assassin, hired by someone to kill Gawen Hagarthen."}
        {MESSAGE (Bor Cryne) (portraits/bor_cryne.png) () _"Who could do such terrible thing! Did you have time to interrogate him?"}
        [if]
            [variable]
                name=ano_assa_interrogated
                equals=yes
            [/variable]
            [then]
                {MSG_Lorin _"Yes. He confessed to be hired by some of Akladian lords."}
                {MESSAGE (Bor Cryne) (portraits/bor_cryne.png) ()
                _"It's strange how some are lying out of fear. What else he was saying?"}
                {MSG_Lorin _"Something like: argh. He died before I could ask him more questions."}
                {MESSAGE (Graeme O Borraine) (portraits/graeme.png) () _"So, do you suggest there are people amongst us who could do such low thing!? That accusations are outrageus!"}
            [/then]
            [else]
                {MSG_Reme _"Unfortunately, no."}
                {MESSAGE (Bor Cryne) (portraits/bor_cryne.png) () _"Unfortunately, indeed. Probably it was some of underling leaders."}
            [/else]
        [/if]
        {MSG_Lorin _"There are lords which I can't see here. Why is that?"}
        {MESSAGE (Graeme O Borraine) (portraits/graeme.png) () _"There are some who are doubting that a mix.. that son of underling could be legally our king."}
        {MSG_Gawen _"Remember, that you are talking about my mother."}
        {MESSAGE (Graeme O Borraine) (portraits/graeme.png) () _"My lord, but this is the truth. Hard times are ahead. Underlings are revolting against us. Those, which we choose not to conquer in the past are having ridiculous thoughts of taking our God-given lands. Some are saying that we need strong king, of our kin, not - forgive me my words, I am only repeating what others are saying - a mixling kid."}
        {MSG_Lorin _"All of them are traitors who will be punished. And those who will stay loyal to us will be rewarded."}
        {MESSAGE (Bor Cryne) (portraits/bor_cryne.png) () _"(whispering) She dares to speak about loyalty... "}
        {MSG_Lorin _"We will attack the traitors immediately."}
        {MESSAGE (Bor Cryne) (portraits/bor_cryne.png) () _"My lady, we want you to reconsider. Those lords are our friends truly disturbed about future of our kingdom and our people. We need them alive as friends, not dead."}
        {MSG_Lorin _"I prefer to have dead enemy to unsure ally. Now, we have to be absolutely sure about your loyalty and about which side you are choosing to back. Now, you have to make a decision. Bow to our rule. Reme?"}
        {MSG_Reme _"I was always loyal to family of Hagarthen."}
        [hide_unit]
            x,y=5,2
        [/hide_unit]
        {PLACE_IMAGE (units/akl-chieftain-kn.png) 5 2}
        [redraw]
        [/redraw]
        {MSG_Lorin _"And you, noble Graeme?"}
        [kill]
            x=3
            y=5
        [/kill]
        {PLACE_IMAGE (units/akl-lord-kn.png) 3 5}
        {MSG_Lorin _"Uri van Roe?"}
        {MESSAGE (Uri van Roe) (portraits/uri_van_roe.png) () _"Hail the true king of Vakladia"}
        [kill]
            x,y=5,5
        [/kill]
        {PLACE_IMAGE (units/akl-lord-kn.png) 5 5}
        [redraw]
        [/redraw]
        {MSG_Lorin  _"Bor Cryne?"}
        {MESSAGE (Bor Cryne) (portraits/bor_cryne.png) () _"I will always loyally serve what is best for kingdom of Vakladia."}
        [kill]
            x,y=7,5
        [/kill]
        {PLACE_IMAGE (units/akl-lord-kn.png) 7 5}
        {MSG_Lorin _"To ensure you of our friendship I demand that each of you will send your first-born son to court of Vattin, where he would have possibility to learn how to best serve the crown. "}
        [kill]
            description=Royal guard
        [/kill]
        [endlevel]
            result=continue
            bonus=no
        [/endlevel]
    [/event]
[/scenario]
