#textdomain wesnoth-A_New_Order
#define ELVISH_DEATHS
    [event]
        name=die
        [filter]
            description=Kyobaine
        [/filter]
        [message]
            speaker=unit
            message=_"I will never again see our beatiful forests.."
            image=portraits/kyobaine.png
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            description=Milildur
        [/filter]
        [message]
            speaker=unit
            message=_"See how Elf die, without fear!"
            image=portraits/milildur.png
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            description=Elorain
        [/filter]
        [message]
            speaker=unit
            message=_"Now, I will meet best marksman.. Death never misses."
            image=portraits/elorain.png
        [/message]
    [/event]
#enddef
#define ELVISH_KILLING
    [event]
        name=die
        [filter_second]
            description=Elorain
        [/filter_second]
        {RANDOM 1..10}
        [message]
            speaker=Elorain
            message=_"Ha! $ano_elorain_$random "
            image=portraits/elorain.png
        [/message]
    [/event]
    [event]
        name=die
        [filter_second]
            description=Milildur
        [/filter_second]
        {RANDOM 1..10}
        [message]
            speaker=Milildur
            message=_"Ha! $ano_milildur_$random "
            image=portraits/milildur.png
        [/message]
    [/event]
    [event]
        name=recruit
        [filter]
            description=Milildur
        [/filter]
        {VARIABLE_OP ano_milildur_recruited add 1}
        {IF ano_milildur_recruited equals 5}
        dummy=_"Note for translators: The message 'I fought with you so many battles..' etc will be speaked by both male, Milildur, and Elorain, female. Make it gender neutral."
        {MESSAGE (Milildur) (portraits/milildur.png) () _"My lord, I fought with you so many battles.. I can accept money from you no more. Please, treat me like a friend, not like a hired soldier."}
        {MAKE_LOYAL (description) (Milildur)}
        {ELSE}
        {END_IF}
    [/event]
    [event]
        name=recruit
        [filter]
            description=Elorain
        [/filter]
        {VARIABLE_OP ano_elorain_recruited add 1}
        {IF ano_elorain_recruited equals 5}
        {MESSAGE (Elorain) (portraits/elorain.png) () _"My lord, I fought with you so many battles.. I can accept money from you no more. Please, treat me like a friend, not like a hired soldier."}
        {MAKE_LOYAL (description) (Elorain)}
        {ELSE}
        {END_IF}
    [/event]
#enddef
