#textdomain wesnoth-A_New_Order
[unit]
    id=Akladian Protector
    name= _ "Akladian Protector"
    race=akladian
    image="akladian/akl-protector.png"
    [defend]
        [frame]
            begin=-150
            end=150
            image="akladian/akl-protector.png"
        [/frame]
    [/defend]
    profile="portraits/profile_protector.png"
    hitpoints=54
    movement_type=akladianfoot
    movement=5
    experience=150
    level=3
    alignment=lawful
    advanceto=null
    cost=80
    usage=fighter
    unit_description= _ "Veterans of many fights and surviving many defenses against invading enemies, Protectors forms caste of excellent warriors with their own codex, devoting whole their life for protecting their clans."
    {DEFENSE_ANIM akladian/akl-protector.png akladian/akl-protector.png groan.wav}
    [advancement]
        max_times=2
        description=_"fighter"
        id=fighter
        [effect]
            apply_to=attack
            increase_damage=1
        [/effect]
        [effect]
            apply_to=max_experience
            increase=50
        [/effect]
    [/advancement]
    [advancement]
        max_times=2
        description=_"armoured"
        id=armoured
        [effect]
            apply_to=hitpoints
            increase_total=10
        [/effect]
        [effect]
            apply_to=movement
            increase=-1
        [/effect]
        [effect]
            apply_to=max_experience
            increase=50
        [/effect]
    [/advancement]
    [advancement]
        max_times=100
        description=_"tough"
        id=tough
        [effect]
            apply_to=hitpoints
            increase_total=3
            increase=3
        [/effect]
        [effect]
            apply_to=max_experience
            increase=50
        [/effect]
    [/advancement]
    [attack]
        name=sword
        description=_"sword"
        type=blade
        icon=attacks/sword-human.png
        range=melee
        damage=11
        number=5
    [/attack]
    [attack_anim]
        [attack_filter]
            name=sword
        [/attack_filter]
        [frame]
            begin=-150
            end=0
            image="akladian/akl-protector.png"
            sound=sword-1.ogg
        [/frame]
    [/attack_anim]
[/unit]
